<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab_4 - Ecommerce Website</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/jquery.css" rel="stylesheet" />
    <link href="css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="css/animate.min.css" rel="stylesheet" />
    <link href="css/default.css" rel="stylesheet" />
    <link href="css/magnific-popup.css" rel="stylesheet" />
    <link href="css/MapStyleSheet.css" rel="stylesheet" />
    <link href="css/responsive.dataTables.css" rel="stylesheet" />
    <link href="css/slick.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
</head>
<body>

<section class="contact-us-area contact-us-page">
    <div class="container">
        <br><br><br><br><br><br><br><br>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="contact-us-box">
                    <center>
                        <h3 class="title">Lab_4 Ecommerce App</h3>
                    </center>
                    <div class="row">
                        <div class="col-lg-6">
                            <br>
                            <center>
                                <div class="form-group">
                                    <a class="main-btn btn-block btn-xl" type="button" style="font-size: x-large" href="/login">Login</a>
                                </div>
                            </center>
                        </div><br><br>
                        <div class="col-lg-6">
                            <br>
                            <center>
                                <div class="form-group">
                                    <a class="main-btn btn-block btn-xl" type="button" style="font-size: x-large" href="/signup">Sign Up</a>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <br><br><br><br><br><br><br><br>
    </div>
</section>

<script src="js/bootstrap.min.js"></script>
<script src="js/dataTables.responsive.js"></script>
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<script src="js/vendor/modernizr-3.6.0.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/jquery.appear.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/main.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/popper.min.js"></script>
</body>
</html>